@{
    ViewData["Title"] = "Controle";
}

<h1 class="display-4">Consulta</h1>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Nome</th>
                <th>Preco no Mercado</th>
                <th>Preco Desejado</th>
                <th>Alterar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productItem in ViewBag.Products)
            {
                <tr>
                    <td>@productItem.Marca</td>
                    <td>@productItem.Modelo</td>
                    <td>@productItem.Nome</td>
                    <td>@productItem.PrecoMercado</td>
                    <td>@productItem.PrecoDesejado</td>
                    <td>
                        <input type="button" class="btn btn-primary" value="Alterar" onclick="location.href = '@Url.Action("Alterar", "Product")', new { idProduct = @productItem.IdProduct}" />
                    </td>

                    <td><button type="button" class="btn btn-primary">Excluir</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h1 class="display-4">Inclusão & Alterar</h1>
<form action="/Product/Incluir" method="post">
    <partial name="_FormProducts" />
</form>