@{
    ViewData["Title"] = "Controle";
}

<h1 class="display-4">Test</h1>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Nome</th>
                <th>Preco no Mercado</th>
                <th>Preco Desejado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productItem in ViewBag.Products)
            {
                <tr>
                    <td>@productItem.Marca</td>
                    <td>@productItem.Modelo</td>
                    <td>@productItem.Nome</td>
                    <td>@productItem.PrecoMercado</td>
                    <td>@productItem.PrecoDesejado</td>
                </tr>
            }
        </tbody>
    </table>
</div>